.text-block {
  user-select: none;
  cursor: pointer;
  position: relative;
}

.text-block p {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  word-wrap: break-word;
}

.char {
  position: relative;
  display: inline-block;
  white-space: pre;
}
